name: Deploy via SFTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to SFTP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          key: ${{ secrets.SFTP_KEY }}
          port: ${{ secrets.SFTP_PORT }}
          source: "."
          target: ${{ secrets.SFTP_TARGET }}
          strip_components: 0
          overwrite: true
          rm: false
          exclude: |
            .git/**
            .vscode/**
            node_modules/**
            tests/**
            .env
            .DS_Store
